.date-picker {
    position: absolute;
    top: 35px;
    left: 25%;
    z-index: 1;
    width: 100vw;
}

.date-picker > h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 559px;
    padding: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 340px;
}

.date-picker > input {
    width: 539px;
    padding: 20px;
    position: absolute;
    left: 0;
    height: 30px;
    top: 380px;
    border: none;
}

.date-picker > input:focus {
    outline-width: 0;
}

.date-picker > button {
    position: absolute;
    left: 0;
    top: 450px;
    text-transform: inherit !important;
    background-color: #ff7779;
    color: white;
    width: 579px;
}

.date-picker > button:hover {
    background-color: white;
    color: #ff7779;
}

@media screen and (max-width: 900px) {
    .date-picker {
        left: 15%;
    }
}

@media screen and (max-width: 800px) {
    .date-picker {
        left: 0;    
    }
}