.search-page {
    margin: 0 20px;
}

.search-page-info {
    padding: 20px;
}

.search-page-info > p {
    font-size: 14px;
    margin-bottom: 10px;
}

.search-page-info > h1 {
    margin-bottom: 30px;
}

.search-page-info > button {
    border-radius: 30px;
    text-transform: inherit;
    margin: 5px;
    color: black;
    border-color: rgba(128, 128, 128, 0.5);
}